:root {
  --primary: #6a0dad;
  --secondary: #8a2be2;
  --danger: #e74c3c;
  --warning: #f1c40f;
  --background: #f9fafc;
  --card-bg: #ffffff;
  --text: #2c3e50;
  --border: #e5e7eb;
  --shadow: rgba(0, 0, 0, 0.1);
}

#cadastro {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  background-color: var(--background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow);
  max-width: 600px;
  margin: 40px auto;
}

#titulo_principal {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  text-align: center;
  color: var(--primary);
  margin-top: 20px;
}
h1, h2 {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  color: var(--primary);
}




button {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  background-color: var(--secondary);
}

table {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
    font-family: 'Monocraft', Consolas, 'Courier New', monospace;
  border: 1px solid var(--border);
  padding: 12px;
  text-align: left;
}